.support-image{
    width: 80%;

}
.support-title{
    text-align: center;
    padding-top:5rem;
    font-weight: 700;
    padding-bottom: 2rem;
}
.support-divider{
    width: 20%;
    margin-left: 40%;
    border: 1px solid gray;
}
.support-intro{
    text-align: center;
    color: rgb(156, 154, 154);
}
.support-text-column{
    margin-top: 3rem;
    text-align: start;
}
.support-subtitle{
    font-weight: 300;
    font-size: 23px;
}
.support-highlight{
    font-weight: 300;
    font-size: 17px;
    color: rgb(155, 152, 152);
    margin-top: 20px;
}
.support-description{
font-weight: 300;
    font-size: 17px;
    color: rgb(155, 152, 152);
    text-align: start;
    margin-top: 30px;
}
.support-description span{
    color: #f18741;
    cursor: pointer;
}
.support-description span:hover{
    color: #f06a11;
    font-weight: 400;
    text-transform: uppercase;
}
@media screen and (max-width:428px) {
    .support-image{
    width: 200%;
    margin-left: 10px;

}
.support-content-row{
    display: flex;
    flex-direction: column;
}
.support-title{
    text-align: center;
    padding-top:5rem;
    font-weight: 700;
    padding-bottom: 2rem;
}
.support-divider{
    width: 20%;
    margin-left: 40%;
    border: 1px solid gray;
}
.support-intro{
    text-align: center;
    color: rgb(156, 154, 154);
}
.support-text-column{
    margin-top: 3rem;
    text-align:center;
    width: 98%;

}
.support-subtitle{
    font-weight: 300;
    font-size: 23px;
}
.support-highlight{
    font-weight: 300;
    font-size: 17px;
    color: rgb(155, 152, 152);
    margin-top: 20px;
}
.support-description{
font-weight: 300;
    font-size: 17px;
    color: rgb(155, 152, 152);
    text-align:center;
    margin-top: 30px;
    margin-left: 10px;
}
.support-description span{
    color: #f18741;
    cursor: pointer;
}
.support-description span:hover{
    color: #f06a11;
    font-weight: 400;
    text-transform: uppercase;
}
}