.course-section{
    width: 100%;
    height: 130vh;
}
.course-section__intro{
    display: flex;
    width: 100%;
    height: 400px;
}
.course-section__video{
    width: 50%;
    height: 400px;

}
.course-section__video iframe{
    width: 70%;
    height: 300px;
    margin-left: 60px;
    margin-top: 30px;
}
.course-section__details{
    width: 45%;
    height: 400px;
}
.course-section__heading{
    margin-top: 50px;
    font-size: 23px;
    font-weight: 400;
    color: rgb(141, 137, 137);
}
.course-section__subheading{
    font-size: 17px;
    word-spacing: 1px;
    margin-top: 5px;
    color: rgb(179, 176, 176);
}
.course-section__description{
    font-size: 15px;
    margin-top: 15px;
    color: rgb(179, 176, 176);
}
.course-section__cta a{
    color: orange;
}     
                                   /*COURSE SECOND BOX METHOD IN FLEX.......*/
 .course-section__signup-box{
    width: 100%;
    height: 370px;
    background-image: url("https://idtworldwide.in/img/educationCourse.jpg");
    background-position: center;
    background-size: cover; 
}     
.signup-box__content{
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  
.signup-box__title{
    color: white;
    margin-bottom: 30px;
      font-size: 35px;
     font-weight:600;
}      
.signup-box__description{
    width: 70%;
    text-align: center;
    color: rgb(206, 205, 205);
}    
.signup-box__button{
    padding: 15px 30px;
    margin-top: 20px;
    border: none;
    background-color:#e67e22;
    color: white;
    text-transform: capitalize;
    border-radius: 5px;
}                 
.signup-box__button:hover{
background-color:#975419;
}

@media screen and (max-width:428px){
    .course-section{
    width: 100%;
    height: 140vh;
}
.course-section__intro{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 650px;
}
.course-section__video{
    width: 98%;
    margin-left:5px;
    height: 300px;

}
.course-section__video iframe{
    width: 97%;
    height: 270px;
    margin-left:2px;
    margin-top: 30px;
}
.course-section__details{
    width: 98%;
    height: 400px;
    text-align: center;
}
                                   /*COURSE SECOND BOX METHOD IN FLEX.......*/
 .course-section__signup-box{
    width: 100%;
    height: 370px;
    background-image: url("https://idtworldwide.in/img/educationCourse.jpg");
    background-position: center;
    background-size: cover; 
}     
.signup-box__content{
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  
.signup-box__title{
    color: white;
    margin-bottom: 30px;
      font-size: 35px;
     font-weight:600;
}      
.signup-box__description{
    width: 90%;
    text-align: center;
    color: rgb(206, 205, 205);
}    
.signup-box__button{
    padding: 15px 30px;
    margin-top: 20px;
    border: none;
    background-color:#e67e22;
    color: white;
    text-transform: capitalize;
    border-radius: 5px;
}                 
.signup-box__button:hover{
background-color:#975419;
}
    
}